.overview {
  border-right: solid 0.125rem var(--react-a11y-config-background-color);
  border-left: solid 0.125rem var(--react-a11y-config-background-color);
  padding: 0 2rem;
  margin: 4rem 0;
  display: flex;
  gap: 2rem;
}

.wheelchair {
  position: relative;
  width: 12.5rem;
  height: 6.25rem;
}

.wheelchair-seat {
  position: absolute;
  bottom: 2.5rem;
  left: 1.25rem;
  width: 10rem;
  height: 2.5rem;
  background-color: var(--react-a11y-config-background-color);
  border-radius: 0.3125rem;
}

.wheelchair-backrest {
  position: absolute;
  bottom: 5rem;
  left: 1.25rem;
  width: 1.25rem;
  height: 2.5rem;
  background-color: var(--react-a11y-config-background-color);
}

.wheelchair-wheel {
  position: absolute;
  bottom: 0;
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--react-a11y-config-background-color);
  border-radius: 50%;
}

.left-wheel {
  left: 0.625rem;
}

.right-wheel {
  right: 0.625rem;
}

.wheelchair-armrest {
  position: absolute;
  width: 3.75rem;
  height: 0.625rem;
  background-color: var(--react-a11y-config-background-color);
}

.left-armrest {
  top: 30px;
  left: -10px;
}

.right-armrest {
  top: 30px;
  right: -10px;
}

.heading {
  margin-top: 2rem;
  line-height: 2;
  font-size: 1rem;
  font-style: italic;
  color: var(--react-a11y-config-heading-color);
}

.paragraph {
  font-size: 0.8rem;
  font-style: italic;
  color: var(--react-a11y-config-paragraph-color);
  margin-bottom: 3rem;
}
